@use 'mix-in' as *;
@use 'variables' as *;
@use 'mediaQueryIndex' as *;
@use 'Navbar_c' as *;

$color-primary-opaque-btn: rgba(163,51,39, 0.3);

body{
	font-family:sans-serif;
	background-image: url("../ASSETS/bgtest.jpg");
	background-size: cover;
}


.index-container_first{
	height: 100vh;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items:stretch;
	text-align:center;
	a{
		margin-bottom:5%
	}
}

.index-container{
	height: 100vh;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items:stretch;
	text-align:center;
	a{
		margin-bottom:5%
	}
}

h1{
	text-transform: capitalize;
}

.page{
	display:flex;
	flex-direction:column;
	border-radius: $border-rad-m;
	padding: $padding-s;
	color: $color-text;
	margin:$margin-primary;
	margin-top:25%;
}

.skip-button{
	height:3rem;
	width:3rem;
}


.back-button{
	transform: rotate(180deg);
}


.index__btn{
	flex: 0 0 100%;
	display:inline-block;
	text-decoration:none;
	background-color: $color-primary-opaque-btn;
	color: $color-text;
	font-weight:bold;
	border: 0.5rem $color-primary-opaque-btn;
	border-radius: $border-rad-m;
	padding:3rem;
	text-transform:capitalize;
	max-width:20em;
	align-self:center;

}
.index__btn:hover{
	background-color: $color-primary;
}

.index__link{
	display:inline-block;
	text-decoration:none;
	color: $color-text;
	text-transform:lowercase;
}

.index_icon{
	max-width:10rem;
}
