$header-width: 100%;

$header-height: 120px;

$footer-height: 120px;

@media screen and (max-width: 577px) {

}

@media screen and (min-width: 577px) {
	.card{
		display: grid;
		grid-gap: 2rem;
		grid-template-rows: $header-height 1fr 1fr 1fr 1fr $footer-height;
		grid-template-columns: 1fr 1fr 1fr 1fr;

	}
	#index-what{
		grid-row-start:2;
		grid-column-start:2;
		grid-column-end:4;
	}

	#index-services{
		grid-row-start:3;
		grid-column-start:2;
		grid-column-end:4;
	}
	#index-who{
		grid-row-start:4;
		grid-column-start:2;
		grid-column-end:4;
	}
	// #index-who{
	//	grid-row-start:5;
	//	grid-column-start:2;
	//	grid-column-end:4;
	//} 

}



