/* Basic */

$color-primary:#A33327; /*dark red */

$color-secondary:#C7493A; /*light red*/

$color-light: #907164; /* dark-pink */

$color-dark: #AC8173; /* light-pink */

$color-text: #F5F5F5;

$margin-primary: 5rem;

$margin-secondary: 1rem;

$padding-primary: 2rem;

$padding-secondary: 1rem;

$font-size-main: 30px;

$font-size-sub: 14px;

$font-family: Sans-serif;

$border-rad-m : 0.5rem;

$padding-s: 1rem 0.5rem;

$color-primary-opaque: rgba(163,51,39, 0.8);

$box-shadow:0 0 0.3rem 3rem rgba(0,0,0,0.49);


