/* * {outline: 1px solid black}  */

body{
	background-color: lightgray;
}
a {
	color:blue;
	text-decoration:none;
}

.nav {
	background-color: darkgray;
	display: flex;
	flex-direction: column;
	justify-content:flex-end;
	
}
.nav h2:first-child{
	align-self:center;
	
}
.nav ul{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:flex-end;
	align-content:stretch;
	list-style-type:none;
}
h1{
	text-align:center;
}

footer{
	text-align: center;
}

/* Skills.html page */
.proficiencies{
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}
.proficiencies h2,p{
	align-self:center;
}
.proficiencies ul{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-content:center;
	list-style-type:none;
}


.acquiredSkills {
	background-color: darkgray;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	height:100%;

}
.acquiredSkills h2{
	flex: 0 0 100%;
}
.acquiredSkills article{
	width:50%
}

