$textcolor: white;
$backgroundcolor: black;
$textcolorAlt: #00cba9;


a , a:visited, h1,h2,title{
    text-decoration:none;
    color:$textcolor;
}



body{
    background-color: $backgroundcolor;
    font-family: "Roboto",sans-serif;
}

.wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


#background{
    background: url(assets/wave.svg);
    opacity : 1;
    height: 50%;
    width: 100vw;
    position : absolute;
    background-repeat: no-repeat;
    right: 0px;
    bottom: 0px;
    margin-right: 0;
    margin-bottom: 0;
    z-index: -2;
    background-position: bottom;
}

.even{
    color:$backgroundcolor;
}

.uneven{
    color:$textcolor;
}

.fa{
    font-size: 64px;
}

.fa-at{
    font-weight: bold;
}

#headers{
    margin-top: 10rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

hr{
    color:$textcolorAlt;
}

.icons{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.icon{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#jobtitle {
    color:$textcolorAlt;
}
.title{
    visibility: hidden;
}

@media(max-width:400px){

    h1,h2{
        text-align:center;
    }
    #background{
        width:300%;
        height:100%;
    }
    #headers{
        margin-top: 0;
    }
    .even{
        color:$textcolorAlt;
    }
  
    .icon{
        flex: 0 0 50%;
    }

    .fa{
        font-size:80px;
        padding:10px;
    }

    .fc2{
        order:3;
    }
    .fc3{
        order:4;
    }
    .fc4{
        order:2;
    }
}

@media (min-width:401px) and (max-width: 600px) { 
    #background{
        width:400%;
        height:100%;
    }
    #headers{
        margin-top: 7rem;
    }
    .even{
        color:$textcolorAlt;
    }
  
    .icon{
        flex: 0 0 50%;
    }

    .fa{
        font-size:80px;
        padding:10px;
    }

    .fc2{
        order:3;
    }
    .fc3{
        order:4;
    }
    .fc4{
        order:2;
    }
 }

 h1{
     font-size: 48px;
 }
 h2{
     font-size:36px;
 }

 @media(min-width:600px) and (max-width:1000px){
     #background{
         width:200%;
         height:300%;

     }
 }

@media (min-width: 600px) { 
    html{
        height:100vh;
    }
    
    h1{
        font-size: 48px;
    }

    h2{
        font-size:36px;
    }


    .icon{
        margin-left:30px;
        margin-right:30px;
    }
    .icons{
        margin-bottom: 1rem;
    }

    .fa{
        transition-delay: 0.05s;
    }

    .uneven:hover{
        -webkit-text-shadow: 2px 2px 16px #000;
        -moz-text-shadow: 2px 2px 16px #000;
        text-shadow: 4px 4px 2px #000;
    }
    .even:hover{
        -webkit-text-shadow: 2px 2px 16px #fff;
        -moz-text-shadow: 2px 2px 16px #fff;
        text-shadow: 4px 4px 2px #fff;
    }

    .wrapper{
        height:100vh;
        justify-content:space-between;
    }
 }