$textcolor: white;
$backgroundcolor: black;
$textcolorAlt: #00cba9;


a , a:visited, h1,h2,title{
    text-decoration:none;
    color:$textcolor;
}

body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:1280px;
    background-color: $backgroundcolor;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#background{
    background: url(assets/wave.svg);
    opacity : 1;
    height: 50%;
    width: 100%;
    position : absolute;
    background-repeat: no-repeat;
    right: 0px;
    bottom: 0px;
    margin-right: 0;
    margin-bottom: 0;
    z-index: -2;
    background-position: right bottom;
}

.even{
    color:$backgroundcolor;
}

.uneven{
    color:$textcolor;
}

.fa{
    font-size: 64px;
}

.fa-at{
    font-weight: bold;
}

#headers{
    margin-top: 11%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

hr{
    color:$textcolorAlt;
}

.icons{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.icon{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#jobtitle {
    color:$textcolorAlt;
}
.title{
    visibility: hidden;
}

@media (max-width: 600px) { 
    .icons{
        flex-direction:column;
    }

 }
@media (min-width: 600px) { 
    html{
        height:95%;
    }

    .icon{
        padding-inline:30px;
    }

    body{
        height:100%;
        justify-content:space-between;
    }
 }